* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    background: papayawhip;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
}
.item {
    width: 30px;
    height: 30px;
    background: red;
}
.container .item:nth-child(2n + 1) {
    background: cyan;
}