* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p:hover {
color: red;
font-size: 30px;
}
div p:nth-child(2) {
    color: blue;
}
p {
    border: 2px solid red;
    display: block;
    width: 180px;
}
p::first-letter {
    color: teal;
}
p::after {
    content: "✨👀"
}

::placeholder {
    color: darkgreen;
}